#header {
  height: 15vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding-left: 70px;
  gap: 90px;
  box-shadow: 10px 0.4px 5px;
}

.paytm {
  display: flex;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Segoe UI, sans-serif;
  font-weight: 800;
  align-items: center;
}

.pay {
  color: #172b75;
  font-size: 24px;
}

.tm {
  font-size: 24px;
  color: #00bcf1;
}

#upi {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
}

#heart {
  font-size: 24px;
}

#texts {
  display: flex;
  gap: 35px;
}

.text {
  font-size: 17px;
  font-weight: 600;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Segoe UI, sans-serif;
}

#signin {
  background-color: #00bcf1;
  color: #fff;
  font-family: "Rubik", sans-serif;
  height: 40px;
  font-size: 20px;
  width: 120px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/*  */
/* new styling */

#box {
  height: 22vh;
  width: 92vw;
  margin-left: 4vw;
  border-radius: 13px;
  background-image: linear-gradient(#054db1, #07a7f3);
}

#textboxes {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 160px;
  align-items: center;
}

.textbox {
  font-size: 30px;
}

.letter {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
  gap: 5px;
  cursor: pointer;
}

.wallet2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 2px;
  cursor: pointer;
}

.app {
  font-size: 8px;
  padding: 3px;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

#paytmtext {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 65px;
  align-items: center;
  gap: 3px;
}

.powered {
  font-size: 6px;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

.by {
  font-size: 6px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  padding-left: 18px;
}

.payment {
  font-size: 20px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
}

/*  */
/* new styling */
#billbox {
  height: 25vh;
  /* background-color: red; */
  box-shadow: 20px 0.2px;
}

#billbox2 {
  height: 25vh;
}

#bill {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  margin-left: 30px;
}

#mobilebox {
  display: flex;
  gap: 210px;
  margin-left: 150px;
}

.mobile {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}

.textbox2 {
  font-size: 30px;
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  /* background-color: red; */
  height: 80px;
  width: 100px;
}

.win {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  background-color: black;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: -9px;
}

.ad {
  font-size: 6px;
  color: #fff;
  background-color: #012a72;
  margin-left: 35px;
  margin-bottom: -10px;
  font-family: "rubik", sans-serif;
  width: 14px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

#all {
  display: flex;
  justify-content: center;
}

.all {
  height: 30px;
  width: 140px;
  border: 0.1px solid #e8edf3;
  border-radius: 20px;
  color: #00bcf1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 5px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  margin-bottom: 60px;
}

@media screen and (max-width: 450px) {
  #header {
    height: 4vh;
    padding-left: 20px;
    gap: 250px;
  }
  .pay,
  .tm,
  #upi,
  #heart {
    font-size: 12px;
  }
  #texts {
    display: none;
  }
  #signin {
    height: 20px;
    width: 60px;
    font-size: 10px;
    gap: 4px;
  }
  #box {
    height: 13vh;
    width: 90vw;
  }

  #billbox {
    background-color: red;
    height: 14vh;
    width: 40vh;
  }
  #mobilebox {
    display: none;
  }
  #billbox2 {
  }
  .textbox {
    height: 30px;
    width: 30px;
  }
  .letter {
    font-size: 10px;
  }
  .app {
    font-size: 4px;
    margin-top: 2px;
  }
  #textboxes {
    margin-left: 40px;
    margin-right: 40px;
  }
}
